.game-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.top-row,
.bottom-row {
  flex: 1;
  display: flex;

  > app-counter {
    flex: 1;
  }
}
